.header-page {
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
}

.header-page .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;
}

.header-page .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.7s;
}



.header-page .top-bar-container a:hover{
    opacity: 0.6rem
}


.header-page .header-content {
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin: 3.2rem 0 auto;
}

.header-page .header-content strong {
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
}

.header-page .header-content p {
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-in-primary);
    margin-top: 2.3rem;
}

@media(min-width: 700px){
    .header-page{
        height: 340px;
        
    }
    .header-page.top-bar-container{
        max-width: 1100px;
    }
    .header-page .header-content {
        flex: 1;
        max-width: 740px;
        margin: 0 auto;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .header-page .header-content strong {
        max-width: 350px;
    }

}